<div ng-controller="CreateMail">

<form class="form-horizontal">
  <fieldset>
    <legend>Tworzenie wiadomosci</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Odbiorca</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="receivers">
      </div>
    </div>
    <div class="form-group">
      <label for="inputTitle" class="col-lg-2 control-label">Tytul</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputTitle" placeholder="Tytul" ng-model="sentTitle">
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Tresc</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" ng-model="sentContent"></textarea>
        <span class="help-block">{{createSentRes}}</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button ng-click="createOne()" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>


  </fieldset>
</form>
</div>
