    <div ng-controller="GetMails">
    	<div>
<!--         <ul ng-repeat="email in emailsRes | orderBy: 'received' ">
    	<li>Tytul: {{email.title}}
<br>Odebrano: {{email.received}}
<br>Przeczytane: {{email.read}}
<br>Tresc: {{email.content | limitTo: 50}}...
</li>
</ul> -->
    	</div>

<!-- 		<ul ng-repeat="email in emailsRes | orderBy: 'received' | limitTo: 10" class="list-group">
  <li class="list-group-item">
    <span class="badge">{{email.read}}</span>
    Tytuł: {{email.title}}
  </li>
</ul>


<div ng-repeat="email in emailsRes | orderBy: 'received' | limitTo: 10" class="list-group">
  <a href="#" class="list-group-item">
  	<span class="badge">{{email.read}}</span>
    <h4 class="list-group-item-heading">Tytuł: {{email.title}}</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
</div> -->

		<table  class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Nadawca</th>
		      <th>Tytuł</th>
		      <th>Tresc</th>
		      <th>Status</span><th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="email in emailsRes | orderBy: 'received' | limitTo: 10">
		      <td>{{email.id | limitTo: 2}}</td>
		      <td>{{email.sender}}</td>
		      <td>{{email.title | limitTo: 20}}</td>
		      <td>{{email.content | limitTo: 30}}</td>
		      <td><span class="badge">{{email.read}}</span></td>
		    </tr>
		  </tbody>
		</table> 

    </div>

</div>