    <div ng-controller="GetSentMails">

		<table  class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Tytuł</th>
		      <th>Tresc</th>
		      <th>Nadawca</th>
		      <th>Data</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="email in emailsRes | orderBy: 'sent':true | limitTo: 10">
		   
		      <td><a ui-sref={email.id}>{{email.id | limitTo: 2}}</a></td>
		      <td>{{email.title | limitTo: 20}}d</td>
		      <td>{{email.content | limitTo: 30}}</td>
		      <td>{{email.receivers}}</td>
		      <td>{{email.sent}}</td>
		    
		    </tr>
		  </tbody>
		</table> 

    </div>



</div>